<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bussiness With Us</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="shortcut icon" href="images/title.ico" type="image/x-icon">
    <link rel="stylesheet" href='css/style.css'>
</head>
<body>
{{>navbar}}
<!--hero section start-->
{{>hero}}
<!--hero section end-->
<!--about section start-->
{{>about}}
<!--about section end-->
<!--services section start-->
{{>ourservices}}
<!--services section end-->
<!--google map section start here-->
{{>google}}
<!--google map section end here-->
<!--contact section start here-->
{{>contactform}}
<!--contact section end here-->
<footer class="footer text-center">
    <p>created by abhinandan Singla ❤</p>
</footer>
<script src="js/script.js"></script>
<script src="../jquery/jquery.js" type="text/javascript"></script>
<script src="../js/bootstrap.js" type="text/javascript"></script>
</body>
</html>