<div class="container-fluid mt-5" id="about">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <h1 class="text-center main-heading"> About us</h1>
            <p class="text-center sub-text">grow your business with us</p>
            <div class="row">
                <!--                left side-->
                <div class="col-md-6 col-12 hero-text left-hero d-flex justify-content-center align-items-start flex-column">
                    <figure>
                        <img src="images/building.svg" alt="Loading..." id="houseimg">
                    </figure>
                </div>
                <!--             right side-->
                <div class="col-md-6 col-12 hero-text right-hero d-flex justify-content-center align-items-start flex-column">
                    <h1 class="sub-heading">We are the professional developer.</h1>
                    <p class="about-text">We are the team of <span class="bold-style">Professional Developer.</span>
                        welcome to singla world ,tour number one sorce for all things. we're Dedicated developer to
                        giving you the very best of work, with a focus on [three characteristics ,Ie :dependable
                        customer service and uniqueness .]
                    </p>
                    <button class="btn-style btn-primary hero-btn">Readme</button>
                </div>
            </div>
        </div>
    </div>
</div>