<div class="container-fluid mt-5">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <div class="row hero-row">
                <!--                left side-->
                <div class="col-md-6 col-12 hero-text left-hero d-flex justify-content-center align-items-start flex-column">
                    <h1 class="main-heading">We Will help you to</h1>
                    <h1 class="sub-heading">grow your business</h1>
                    <p class="sub-text">We are the team of <span class="bold-style profession"></span></p>
                    <button class="btn-style btn-primary hero-btn">join us</button>
                </div>
                <!--             right side-->
                <div class="col-md-6 col-12 hero-text order-md-0 order-1 right-hero">
                    <figure class="housefigure">
                        <img src="images/rocket.svg" alt="Loading..." id="right-rocket-img">
                    </figure>
                </div>
            </div>
        </div>
    </div>
</div>
