<div class="container-fluid mt-5" id="services">
    <div class="row py-3">
        <div class="col-md-10 col-12 mx-auto ">
            <h1 class="text-center main-heading"> our services</h1>
            <p class="text-center sub-text">grow your business with us</p>
            <div class="row g-md-5 pt-5 ourservices ">
                <div class="col-md-4 my-5">
                    <div class="box box-1 pt-5 text-center text-capitalize">
                        <h3 class="sub-text">Settings</h3>
                        <p class="ourservice-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor
                            exercitationem provident
                            quod?</p>
                    </div>
                </div>
                <div class="col-md-4 my-5 ">
                    <div class="box box-2 pt-5 text-center text-capitalize">
                        <h3 class="sub-text">Speedup</h3>
                        <p class="ourservice-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor
                            exercitationem provident
                            quod?</p>
                    </div>
                </div>
                <div class="col-md-4 my-5">
                    <div class="box box-3 pt-5 text-center text-capitalize">
                        <h3 class="sub-text">privacy</h3>
                        <p class="ourservice-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor
                            exercitationem provident
                            quod?</p>
                    </div>
                </div>
            </div>
            <div class="row g-md-4 pt-5">
                <div class="col-md-4 my-5">
                    <div class="box box-4 pt-5 text-center text-capitalize">
                        <h3 class="sub-text">Backups</h3>
                        <p class="ourservice-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor
                            exercitationem provident
                            quod?</p>
                    </div>
                </div>
                <div class="col-md-4 my-5">
                    <div class="box box-5 pt-5 text-center text-capitalize">
                        <h3 class="sub-text">SSl Secured</h3>
                        <p class="ourservice-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor
                            exercitationem provident
                            quod?</p>
                    </div>
                </div>
                <div class="col-md-4 my-5">
                    <div class="box box-6 pt-5 text-center text-capitalize">
                        <h3 class="sub-text">Database</h3>
                        <p class="ourservice-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor
                            exercitationem provident
                            quod?</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
